<template>
<hero :data="heroData" />


</template>

<script>
import Hero from '../components/Hero.vue'
export default {
  name: 'About',
  components: {
    Hero
  },
  data () {
    return {
      heroData: {
        color: "black",
        size: "large",
        title: "Mais c'est qui ce ptit fou ?",
        subtitle: "Aller viens, je vais te montrer"
      }
    }
  }
}
</script>

<style>
</style>