<template>
  <div>
    <hero :data="heroData" />

    <div class="container p-6">
      <router-link to="/blog" class="button is-dark">Retour aux articles</router-link>
    </div>
  </div>
</template>

<script>
import Hero from '../components/Hero.vue'
export default {
  name: 'Article',
  components: {
    Hero
  },
  data () {
    return {
      heroData: {
        color: "dark",
        size: "fullheight",
        title: this.$route.params.slug
      }
    }
  }
}
</script>

<style>



</style>
