<template>
  <div>
    <hero :data="heroData" />

    <section class="p-6">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">La Moto</p>
            <p class="subtitle">Comprendre l'origine de sa passion</p>
            <router-link to="/blog/La moto et Nathou c'est un histoire d'amour" class="button is-primary">Voir sa Moto</router-link>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Le DEV</p>
            <p class="subtitle">Explorer son portfolio DEV</p>
            <router-link to="/blog/Ses skills de DEV !" class="button is-primary">Voir son XP DEV</router-link>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Le Breakdance</p>
            <p class="subtitle">Regardez ses skills de ouf en break !</p>
            <router-link to="/blog/Waw ! He's amazing at breaking." class="button is-primary">Voir du vrai Break</router-link>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Le Rap</p>
            <p class="subtitle">Un vrai rappeur du 94</p>
            <router-link to="/blog/Eminathou ?!" class="button is-primary">Voir du rap de ouf</router-link>
          </article>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Hero from '../components/Hero.vue'
export default {
  name: 'Blog',
  components: {
    Hero
  },
  data () {
    return {
      heroData: {
        color: "black",
        size: "large",
        title: "Bienvenue sur le Blog de Nathou",
        subtitle: "Pour stalcker Nathou n'importe quand"
      }
    }
  }
}
</script>

<style>
</style>
