<template>
  <hero :data="heroData" />
  
  <section class="hero is-primary is-fullheight is-hero-image">
 
  <div class="hero-head">
    <nav class="navbar is-transparent">
      <div class="container">
        <div class="navbar-brand">
          <div class=" logo-brand">
             Nathan
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <h1 class="title is-1">
            Que voulez-vous savoir sur Nathou ?
          </h1>
          <form action="">
            <div class="field has-addons is-not-auto">
              <div class="control has-icons-left">
                <input class="input is-medium" type="text">
                 <span class="icon is-medium is-left">
                </span>
              </div>
              <div class="control">
                <a class="button is-medium is-black">
                  Viens voir pelo
                </a>
              </div>
            </div>
          </form>
          <div class="tags-search">
            <span class="tag is-rounded is-light">Moto</span>
            <span class="tag is-rounded is-light">Stage chez SQLI</span>
            <span class="tag is-rounded is-light">Breakdance</span>
            <span class="tag is-rounded is-light">Omar</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer />
</template>

<script>
import Hero from "../components/Hero.vue";
export default {
  methods: {},
  name: "Home",
  components: {
    Hero,
  },
  data() {
    return {
      heroData: {
        color: "black",
        size: "large",
        title: "Savoir tout sur Nathou",
        subtitle: "Une fanpage dédiée à Nathou",
      },
    };
  },
};
</script>

<style>
.navbar-brand {
  margin-right:15px;
}

.navbar-brand {
  margin-left: 25%;
}

.logo-brand {
  background: black;
  padding: 14px 10px 5px 10px;
  border-radius: 0 0 7px 7px;
}

a.navbar-item:hover {
  background: transparent;
}

.is-blue {
  color: black !important;
}

.is-hero-image {
   background-image: url("https://extranet.creageneve.com/uploads/avatars/1455_avatar_1569232594.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.tags-search {
    margin:10px 0;
}


</style>
