<template>
  <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Voila</strong>  Mon footer En utilisant un component.
      Ouai, j'suis un ouf.
    </p>
  </div>
  <div class="mini-nav-dans-mon-footer-lolilol">
        <p>Tu veux revnenir sur la page d'accueil ? <router-link to="/" class="navbar-item">Page d'accueil</router-link></p>
        <p>N'oublie pas de checker le blog de Nathou ! <router-link to="/blog/" class="navbar-item">Blog</router-link></p>
        <p>Si tu veux en savoir plus sur lui viens ici ! <router-link to="/about/" class="navbar-item">About</router-link></p>
  </div>
  
</footer>
</template>

<script>
export default {
  name: "Foot",
};
</script>

<style>



</style>