<template>
  <div>
    <navbar />
    <router-view />
    <foot />
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue';
import Foot from '@/components/Foot.vue';
export default {
  name: 'App',
  components: {
    Navbar,
    Foot
  }
}
</script>


<style>
</style>
